h1{
    text-align: center;
    text-decoration: underline;
}
table, th, td{
    border: 2px solid black;
    width: 50%;
    font-size: larger;
    text-align: center;
}
table{
    height: 650px;
    width: 100%;
}
body{
    background-color: antiquewhite;
}
table{
    background-color: darkkhaki;
}